<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/aboutus.css">
    <script src="https://kit.fontawesome.com/ebceefdc6a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header') %>
        <main>
            <section class="aboutwebsite">

                <h1 class="heading">About website</h1>
                <hr class="hr">
                <p class="aboutpage">ASTROWORLD is a mini project designed as a space event calendar, providing
                    information and updates about celestial events. It highlights astronomical phenomena . The project
                    aims to engage users by promoting interest in space exploration and astronomy.
                </p>
                
            </section>
            <section class="aboutdev">


                <h2>about dev</h2>
                <div class="basicinfo">
                    <img src="/images/logo/luffy.jpg"  alt="" srcset="" class="pfp">

                    <div class="details">
                        <p class="detail">Hey what's up 👋 </p>
                        <p class="detail">I'm Hardik Khimsruiya</p>
                        <ul>
                            <li class="detail">I live in Rajkot, a city in India.</li>
                            <li class="detail">My email : hardik.d.k121@gmail.com </li>
                            <li class="detail">My github profile : HardikDk121</li>
                            <li class="detail">My age : 19 years old</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <%- include('footer') %>
</body>

</html>