<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/calendar.css">
    <script src="scripts/calendar.js" defer></script>
    <script src="https://kit.fontawesome.com/ebceefdc6a.js" crossorigin="anonymous"></script>

</head>
<body>
 
        
        <%- include('header') %>
        
        <main class="main">
            <div class="month">
                    <span class="monthbuttons" id="back">&lt;</span>
                    <span id="currentMonth">  </span>
                    <span id="currentYear">  </span> <!-- Add this span for the year -->
                    <span class="monthbuttons" id="forward"> &gt; </span>
            </div>                
            <div id="day-container" class="day-container">
                            
            </div>
            
        </main>

        <%- include('footer') %>
   
</body>
</html>
