<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us </title>
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/contactus.css">
    <script src="https://kit.fontawesome.com/ebceefdc6a.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <%- include('header') %>
    <main>
        <h1 class="heading">contact us</h1>
        <p class="subheading">we are excited to hear from you</p>
        <form action="" method="post" class="contactdetails">
            <label for="firstname" class="labels">First Name</label>
            <input type="text" name="firstname" id="firstname" class="namefields">
            
            <label for="lastname" class="labels">Last Name</label>
            <input type="text" name="lastname" id="lastname" class="namefields">

            <br>
            <label for="email" class="labels">Email</label>
            <input type="email" name="email" id="email" class="contactfields">

            <label for="phone" class="labels">Phone</label>
            <input type="tel" name="phone" id="phone" class="contactfields">
            
            <div class="radiobuttons">

                <p class="labels">point of intrest</p>
                
                <input type="radio" name="point-of-intrest" id="option1" value="suggestion" class="options">
                <label for="suggestion" class="radio-labels"> suggestion</label>
                
                <input type="radio" name="point-of-intrest" id="option2" value="collaboration" class="options">
                <label for="collaboration" class="radio-labels" > collaboration</label>
                
                <input type="radio" name="point-of-intrest" id="option3" value="other" class="options">
                <label for="other" class="radio-labels">other</label>
            
            </div>
    
            
            <label for="textarea" class="labels">Message</label>
            <textarea name="textarea" class="textarea" ></textarea>
            <input type="submit" value="Submit" class="button">
            
        </form>
    </main>
    <%- include('footer') %>
</body>
</html>