<header>
    <nav class="headernav ">
        <ul class="links headerlinks">
            <li class="link headerlink">
            <a href="/">Home</a>
        </li>
        <li class="link headerlink">
            <a href="/calendar">calendar</a>
        </li>
        <li class="link headerlink">
            <a href="/sort">sort by events</a>
        </li>
        
        <li class="link headerlink">
            <a href="/about_us">About us</a>
        </li>
        <li class="link headerlink">
            <a href="/contact_us">Contact us</a>
        </li>
        
        </ul>
    </nav>
</header>