<header>
    <nav class="headernav ">
        <ul class="links headerlinks">
            <li class="link headerlink">
            <a href="/html/index.html">Home</a>
        </li>
        <li class="link headerlink">
            <a href="/html/calendar.html">calendar</a>
        </li>
        <li class="link headerlink">
            <a href="/html/sort.html">sort by events</a>
        </li>
        
        <li class="link headerlink">
            <a href="/html/aboutus.html">About us</a>
        </li>
        <li class="link headerlink">
            <a href="/html/contactus.html">Contact us</a>
        </li>
        
        </ul>
    </nav>
</header>