<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort </title>
    <script src="https://kit.fontawesome.com/ebceefdc6a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/sort.css">
    <script src="scripts/sort.js" defer></script>
</head>
<body>
        <%- include('header') %>  
        <main>
            <nav class="sorting">
                <ul class="sorting-options">
                    <li class="option">
                        <button class="buttons" id="open-event-modal">Events</button>
                    </li>
                    <li class="option">
                        <button class="buttons" id="open-date-modal">Date</button>
                    </li>
                </ul>
            </nav>
            <dialog class="events" id="event-modal">
                <form action="" method="get" id="event-form">
                    <h1>Select events</h1>
                    <label>
                        <input type="checkbox" class="solar-eclipse" name="solar_eclipse"> Solar Eclipse
                    </label>
                    <label>
                        <input type="checkbox" class="lunar-eclipse" name="lunar_eclipse"> Lunar Eclipse
                    </label>
                    <label>
                        <input type="checkbox" class="meteor-showers" name="meteor_showers"> Meteor Showers
                    </label>
                    <label>
                        <input type="checkbox" class="blue-moon" name="blue_moon"> Blue Moon
                    </label>
                    <label>
                        <input type="checkbox" class="supermoon" name="supermoon"> Supermoon
                    </label>
                    <label>
                        <input type="checkbox" class="planetary-alignments" name="planetary_alignments"> Planetary Alignments
                    </label>
                    <label>
                        <input type="checkbox" class="comet-appearances" name="comet_appearances"> Comet Appearances
                    </label>
                    <label>
                        <input type="checkbox" class="auroras" name="auroras"> Auroras
                    </label>
                    <label>
                        <input type="checkbox" class="equinoxes" name="equinoxes"> Equinoxes
                    </label>
                    <label>
                        <input type="checkbox" class="solstices" name="solstices"> Solstices
                    </label>
                    <label>
                        <input type="checkbox" class="planetary-oppositions" name="planetary_oppositions"> Planetary Oppositions
                    </label>
                    <label>
                        <input type="checkbox" class="transits" name="transits_of_planets"> Transits of Planets
                    </label>
                    <label>
                        <input type="checkbox" class="occultations" name="occultations"> Occultations
                    </label>
                    <label>
                        <input type="checkbox" class="conjunctions" name="conjunctions"> Conjunctions
                    </label>

                    <br>
                    <br>
                    <button type="submit" class="apply dialogbuttons"><i class="fa-regular fa-circle-check"></i> apply</button>
                    <button id="close-event-modal" class="close dialogbuttons" type="button"><i class="fa-regular fa-circle-xmark"></i> close</button>
                
                </form>
            </dialog>
            <dialog class="date-modal" id="date-modal">
                <form action="" method="get" id="date-form">
                    <label for="from" class="datelabel">from :
                        <input type="date" name="dateFrom" id="date-from" required>
                    </label>
                    <br>
                    <label for="to" class="datelabel">to :
                        <input type="date" name="dateTo" id="date-to" required>
                    </label> 
                    <br>
                    <button class="apply dialogbuttons" type="submit"><i class="fa-regular fa-circle-check"></i> apply</button>
                    <button id="close-date-modal" class="close dialogbuttons" type="button"><i class="fa-regular fa-circle-xmark"></i> close</button>
                </form>
            </dialog>
            <div class="result">
                <% eventsData.forEach(event => { %>
                    <div class="date">
                      <h1 class="card-heading">
                        <% event.date = new Date(event.date); %>
                        <% event.date = event.date.toLocaleDateString('en-IN', { year: 'numeric', month: 'numeric', day: '2-digit' }) %>
                        <%= event.date %></h1> <!-- Render date -->
                      <div class="event-container">
                        <% event.events.forEach(eventName => { %>
                          <p class="event"><%= eventName %></p> <!-- Render each event -->
                        <% }) %>
                      </div>
                    </div>
                  <% }) %>


            </div>

        </main>
        
        <%- include('footer') %>
</body>

</html>