@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* Variable Section*/
:root
{
    --heading-size:10rem;
    --p-size:4rem;
}

body
{
    margin: 0px;
    font-style: normal;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 18, 18);
    background-size:auto;
     /* Stroke size and color */
}
main
{

    text-align: center;
    background-image: url('/images/background-images/color-space-doodle/19333447.jpg');
    background-size:cover;
    align-content: center;
    min-height: fit-content;

}
.heading
{
    font-size: var(--heading-size);
    box-shadow: 10px 5px 5px 10px black;
    margin-bottom:2rem ;
}
.description{
    font-size: var(--p-size);
    margin-bottom: 2rem;
}
.buttons
{
    
    height: 50px;
    width: 150px;
   
    border: 3px solid whitesmoke;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    margin: 10px;
    justify-content: space-between;
}
.buttons:hover
{
    background-image: linear-gradient(to right, #4b0082, #80007d, #a80075, #c8006a, #e12e5e);
    cursor: pointer;
}
.logo
{
    
    margin-top: 0px;
    width:16px;
    height: 16px;
    background-color: white;
    background: transparent;
}










