main
{
    background-image: url('/images/background-images/illsutration-space-science/17892.jpg');
    background-size:cover;
  
}
main::-webkit-scrollbar
{
    display: none;    
}

.sorting
{
    height: 10%;
    width: 100%;

}
.sorting-options
{
    display: flex;
    height:100%;
    width: 100%;
    list-style-type: none;
    justify-content: left;
    background-color:#f9f6ee5f;
    border-radius: 0.652rem;  
    padding: 0px;
}
.option
{
    
    font-family: var(--Montserrat);
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    align-content: center;
    margin: 10px;
}

.buttons
{
   
   padding: 4px  16px;
   font-family: inherit;
   font-size: 1.5rem;
   height: 100%;
   width:100%;
   color: white;
   background-color: rgb(80, 70, 70);
   border: 2px solid rgb(44, 18, 34);
   transition-duration: 250ms;
}
.buttons:hover
{
    cursor: pointer;
    background-color: rgb(116, 107, 107);
}
.events
{
    background-color:  #485bb5;
    display: flex;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: auto;
    width: 50vw;
    max-height: 50vh;
    min-height: fit-content;
    margin: auto;
    padding: 20px;
    border: 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px black; 
    display: none;
    
}

h1{
    text-align: center;
    font-weight: bold;
    font-family:var(--Montserrat) ;
}
label{
    font-family: var(--Montserrat);
    background-color:#8dbecf;
    border: 3px solid black;
    border-radius: 5px;
    display:inline-block;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    
}
input[type="checkbox"]
{
    accent-color:rgb(56, 50, 50) ;
}
label:hover
{
    cursor: pointer;
    background-color: #6e9dbf;
}
input[type="date"]
{
    font-family: var(--Montserrat);
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.datelabel
{
    width: 250px;
}
.dialogbuttons
{
    min-width: fit-content;
    padding: 10px;
    font-family: "Montserrat", 'sans-serif';
    color: azure;    
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
.apply
{
    background-color: rgb(7, 205, 63);
}
.apply:hover
{
    cursor: pointer;
    background-color: rgb(7, 137, 44);
}
.close
{
    background-color: rgb(209, 50, 50);
}
.close:hover
{
    background-color: rgb(123, 21, 21);
}

.result
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1rem;
    margin: 1rem 0px 1rem ;
    box-sizing: border-box;
    align-items:start;
    padding: 0px;
    height: inherit;
    
        
}
.date
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    color: black;
    border-radius: 3px;
    background-color: rgb(80, 143, 185);  
    box-shadow:3px 3px rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    
    
}
.card-heading
{
    grid-column: 1/span 1;
    margin: 0px;
    box-sizing: border-box;
    font-size: 2.5rem;  
    background-color: rgb(185, 122, 80);      
}
.event-container
{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.event
{
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    
}
